/* print styles */

* {color: #000000}

BODY {color: black; 
  background: white;}

a:link, a:visited {background: white; 
  color: black;
  text-decoration: underline;
  font-weight: bold;}

DIV.navigation {display: none;}

.printer {text-align: center;
  color: black;
  padding-bottom: 2px;  
  font-size: 80%;}
